.box {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding-left: 7px;
    padding-right: 7px;
    background-color: darkkhaki;
}

body {
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }

header {
    background-color: chocolate;
    font-size: 30px;
    display: flex;
}

.home {
    position:sticky;
    left: 30px;
    top: 2px;
    width: 50px;
    height: 50px;
}
.hbox {
    height: fit-content;
    width:  fit-content;
    border: 1px solid black;
    margin: 23px;
    padding-left: 7px;
    background-color: rgb(222, 121, 48);
    
}

.shroom {
    float: right;
    margin-right: 40px;
    margin-left: 20px;
    border: 1px solid black;
}

.description {
    size: 400px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.home-icon {
    width: 50px;
    height: 50px;
}

.process {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding-left: 7px;
    padding-right: 7px;
    margin: 10px;
    margin-top: 20px;
    background-color: darksalmon;
    
}

.flex-container {
    display: flex;
}